html{
background-image:url("")
}
.container{
    display:flex;
    background-color: white;
}
.container div{
    flex:1;
    background-color: whitesmoke;
}
.center{
    justify-content: center;
    align-items: center;
}
nav a{
  flex:2;
  color:black;
  text-decoration: none;
  text-align:center;
  background-color:yellowgreen;
}
a{
    text-decoration: none;
}
a:hover{
    background-color: blue;
}
nav{
    background-color: white;
    
}
h1{
    font-style:italic;
    justify-content: center;
}
div, span{
    border:1px solid black;
    padding:10px;
    margin-bottom:5px;
}
a:hover{
filter:grayscale(20%);
}
#banner{
     background-color: green;
     color:white;
}
#footer{
    background-color: red;
    color:white;
}
#search{
    background-color: white;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column {
  flex: 50%;
  padding: 0 4px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
}
h2{
    letter-spacing: 5px;
}
p{
    text-align:right;
}