#div{
    background-color: pink;
}
.center{
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 0, 21);
}
.container{
    display:flex;
}
nav a{
  flex:1;
  color:black;

  text-align:center;
}
a{
    text-decoration: none;
}
a:hover{
    background-color: blue;
}
nav{
    background-color: green;
}
h1{
    font-style:italic;
    justify-content: center;
}
div, span{
    border:1px solid black;

}
a:hover{
filter:grayscale(20%);
}
