html{
background-color: yellowgreen;
}
.container{
    display:flex;
}
.container div{
    flex:1;
}
.center{
    justify-content: center;
    align-items: center;
}
nav a{
  flex:2;
  color:black;
  text-decoration: none;
  text-align:center;
  background-color: green;
}
a{
    text-decoration: none;
}
a:hover{
    background-color: blue;
}
nav{
    background-color: green;
    
}
h1{
    font-style:italic;
    justify-content: center;
}
div, span{
    border:1px solid black;
    padding:10px;
    margin-bottom:5px;
}
a:hover{
filter:grayscale(20%);
}
#banner{
     background-color: red;
}
#footer{
    background-color: black;
    color:white;
}
#search{
    background-color: white;
}