html{
background-color: aquamarine;
}
.center{
    justify-content: center;
    align-items: center;
    background-color: red;
}
nav a{
  flex:1;
  color:black;
  text-decoration: none;
  text-align:center;
}
a{
    text-decoration: none;
}
a:hover{
    background-color: blue;
}
nav{
    background-color: green;
}
h1{
    font-style:italic;
    justify-content: center;
}
div, span{
    border:1px solid black;
    padding:10px;
    margin-bottom:5px;
}
a:hover{
filter:grayscale(20%);
}

